<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Hikes</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper teal accent-4">
          <a href="/hikes" class="brand-logo left">HikeBook</a>
          <ul class="right">
            <li>    
              <a href="/hikes"><i class="left"></i>View Hikes</a>
          </li>
          <li>
              <a href="/hikes/new"><i class="left"></i>Add Hike</a>
          </li>
          <li>
            <a href="/users/favourites"><i class="left"></i>My Favourites</a>
        </li>
            <li>
              <% if (user) { %>
                  <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                  <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
            </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <h1>Hikes</h1>
    <ul>
    <% hikes.forEach(function(h) { %>
        
          <li><h5><a href="/hikes/<%= h.id %>">Hike Name: <%= h.name %></a></h5></li>
          <li>Hike Date:<%= h.date %></li>
          <form action="/users/<%= h.id%>/favourites" method="POST"><button class="my-20 favourite-btn btn waves-effect waves-light" type="submit">Add to Favourites</button></form>
    
        
      <% }); %>
    </ul>
</div>

</body>
</html>