<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>New Hike</title>
</head>
<body>
 
<h2>Enter a New Hike</h2>
<form action="/hikes" method="POST">
  <label>Name:
    <input type="text" name="hikeName">
  </label><br>
  <label>Description:
    <input type="text" name="description">
  </label><br>
  <label>Difficulty:
    <select name="difficulty">
      <option value="easy">Easy</option>
      <option value="moderate">Moderate</option>
      <option value="challenging">Challenging</option>
    </select>
  </label><br>
  <label>Date:
    <input type="datetime-local" name="date">
  </label><br>
  <label>Location:
    <input type="string" name="location">
  </label><br>

  <input type="submit" value="Add Hike">
</form>
</body>
</html>